@bp-s: ~"only screen and (min-width: 480px)";
@bp-m: ~"only screen and (min-width: 768px)";
@bp-l: ~"only screen and (min-width: 1024px)";

* {
  box-sizing: border-box;
}

.box {
  width: 100%;
  height: 200px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #FFF;
  @media @bp-s{
    width: 33%;
    color: #7FDBFF;
  }
  @media @bp-l{
    color: #111;
  }
}

.red {
  background-color: #FF4136;
}

.orange {
  background-color: #FF851B;
  @media @bp-l{
   background-color: darken(#FF851B, 20%);
  }
}

.green {
  background-color: #2ECC40;
}