* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
FLEX BOX MIXIN!

.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}
*/

.box {
	width: 100%;
	height: 200px;
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 30px;
	color: #FFF;
}

.red {
	background-color: #FF4136;
}

.orange {
	background-color: #FF851B;
}

.green {
	background-color: #2ECC40;
}

@media only screen and (min-width: 480px) {

.box {
	width: 33%;
	color: #7FDBFF;
}

}

@media only screen and (min-width: 1024px) {

.box {
	color: #111;
}

.orange {
	background-color: #b45400;
}

}

