.icon-bubble { background-image: url('png/bubble.png'); background-repeat: no-repeat; }

.icon-cart { background-image: url('png/cart.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('png/compass.png'); background-repeat: no-repeat; }

.icon-gift { background-image: url('png/gift.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-heart2 { background-image: url('png/heart2.png'); background-repeat: no-repeat; }

.icon-lightning { background-image: url('png/lightning.png'); background-repeat: no-repeat; }

